## The "<%= meta.name.replace(/^grunt\-/,'') %>" task

### Overview
In your project's Gruntfile, add a section named `<%= meta.name.replace(/^grunt\-/,'') %>` to the data object passed into `grunt.initConfig()`.

```js
grunt.initConfig({
  <%= meta.name.replace(/grunt\-/,'') %>: {
    options: {
      // Task-specific options go here.
    },
    your_target: {
      // Target-specific file lists and/or options go here.
    },
  },
})
```
